<div id="tweet">
  <%= link_to "#{tweet.twitter_account.user.first_name}", tweet.twitter_account.link %>
  <div><%= tweet.body %></div>

  <% if tweet.picture %>
    <div><%= image_tag tweet.picture.image_url(:thumb) %></div>
  <% end %>

  <strong>Created:</strong> <%= tweet.created_at %><br>

  <% if tweet.was_send %>
    <strong>Date send:</strong><%= tweet.date_send %>
    <div class="text-success">Отправлено!</div>
  <% else %>
    <div class="text-danger">Не отправлено!</div>
  <% end %>
  <%= link_to 'delete', tweet, method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
<hr>