<div id="tweet">
  <%= link_to "#{tweet.twitter_account.user.first_name}", tweet.twitter_account.link %>
  <div><%= tweet.body %></div>
  <%= tweet.picture %>
  <%= tweet.created_at.to_date %>|
  <%= link_to 'delete', tweet, method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
<hr>