<h1>Tweets</h1>

<%if notice%>
  <div class="<%= type_message notice %>"><%= notice %></div>
<% end %>

<%= render 'form' %>

<%= will_paginate @tweets, renderer: BootstrapPagination::Rails%>
<br>

<div id="tweets">
  <%= render @tweets %>
</div>