<div class="picture">
  <%= image_tag picture.image_url(:thumb), class: "img-thumbnail" if picture.image? %><br>
  <%= 200 %>x200|
  <%= picture.name %>|
  <%= picture.extension %>|
  <%= picture.image.content_type %>|
  <%= number_to_human_size picture.size %>|
  <%= picture.user.first_name %>
  <%= link_to 'del', picture, method: :delete %><br>
</div>