<div class="picture">
  <%= image_tag picture.image_url(:thumb), class: "img-thumbnail" if picture.image? %><br>
  <%= MiniMagick::Image.open(picture.image.thumb.file.file).width %> x
  <%= MiniMagick::Image.open(picture.image.thumb.file.file).height %>|
  <%= picture.name %>|
  <%= MiniMagick::Image.open(picture.image.file.file).type %>|
  <%= picture.image.content_type %>|
  <%= number_to_human_size picture.image.size %>|
  <%= picture.user.first_name %>
  <%= link_to 'del', picture, method: :delete %><br>  
</div>