<div class="picture">
  <%= image_tag picture.image_url(:thumb), class: "img-thumbnail" if picture.image? %><br>
  200x200|
  <%= picture.name %>|
  <%= picture.extension %>|
  <%= picture.image.content_type %>|
  <%= picture.size %> Mb|
  <%= picture.user.first_name %><br>
</div>