<h1>Галерея картинок</h1>

<p id="notice"><%= notice %></p>

<%= render 'form' %>

<div class="pictures">

    <% @pictures.each do |picture| %>
      <div class="picture">
        <%= image_tag picture.image_url(:thumb), class: "img-thumbnail" if picture.image? %><br>
        <%= picture.image.size.to_f %>|
        <%= picture.user.email %>|<br>
        <%= link_to 'Show', picture %>
        <%= link_to 'Edit', edit_picture_path(picture) %>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

</div>
<br>

<%= link_to 'New Picture', new_picture_path %>