<h1>Галерея картинок</h1>

<%if notice%>
  <div class="<%= type_message notice %>"><%= notice %></div>
<% end %>

<%= form_for @picture = Picture.new do |f| %>
  <div id="errors"></div>
  <%= f.label :image, "Upload picture: " %>
  <%= f.file_field :image, multiple: true, name: "picture[image]" %>
<% end %>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%; background-color: green;">&nbsp;</div></div>
</div>
</script>
<br>

<%= will_paginate @pictures, renderer: BootstrapPagination::Rails%>

<div id="pictures" class="panel panel-info">
  <%= render @pictures %>
</div>